@import '../../vars.scss';
@import '../../fonts.scss';

.arrivals {
	&__header {
		padding: 65px 0;
		background-color: $bg-pink;
		display: flex;
		justify-content: space-between;
		border-bottom: 1px solid $border-bottom-color;
	}

	&__header-title {
		font-family: 'Lato-900';
		font-size: 24px;
		line-height: 20px;
		text-transform: uppercase;
		color: $accent-color;
	}

	&__breadcrumps {
		display: flex;
		list-style-type: none;
	}
}
.breadcrumps__link {
	font-family: 'Lato-300';
	font-size: 14px;
	line-height: 20px;
	text-transform: uppercase;
	color: #636363;
}

.breadcrumps__item {
	&:not(:last-child):after {
		content: '/';
		color: #636363;
		margin-left: 2px;
		margin-right: 2px;
	}
}

.breadcrumps__item:last-child a {
	font-family: 'Lato-700';
	color: $accent-color;
}
