@import '../../style.scss';

.shopping {
	padding-top: 90px;
	padding-bottom: 79px;

	&__box {
		width: 1140px;
		margin-bottom: 44px;
	}
	&__grid {
		display: grid;
		grid-template-columns: 45% 15% 12% 12% 11% 5%;
		border-bottom: 1px solid $border-bottom-color;

		&--padd {
			padding-bottom: 20px;
		}
	}

	&__buttons {
		display: flex;
		justify-content: space-between;
		margin-bottom: 63px;
	}

	&__button {
		font-family: 'Lato-700';
		font-size: 14px;
		line-height: 1.2;
		text-transform: uppercase;
		color: #4a4a4a;
		width: 235px;
		height: 50px;
		border: 1px solid $border-bottom-color;
		background-color: $white;
	}

	&__title {
		font-family: 'Lato-700';
		font-size: 13px;
		line-height: 20px;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: -0.015em;
		color: $text;
	}

	&__item {
		padding-top: 24px;
		padding-bottom: 25px;
	}

	&__info {
		font-size: 13px;
		line-height: 20px;
		color: #656565;
		align-self: center;
		margin-left: 18px;
	}

	&__information {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		column-gap: 35px;
	}
}

.grid__left {
	display: flex;
	gap: 21px;
}

.description {
	&__name {
		font-size: 13px;
		line-height: 1.2;
		text-transform: uppercase;
		color: $text;
		padding-top: 13px;
		margin-bottom: 38px;
	}
	&__details {
		font-size: 13px;
		line-height: 20px;
		color: #575757;
	}

	&--lighter {
		font-weight: 300;
		color: #6f6e6e;
	}
}

.information {
	&__title {
		margin-bottom: 22px;
	}
	&__text {
		font-family: 'Lato-700';
		font-size: 16px;
		line-height: 1.2;
		text-transform: uppercase;
		color: $text;
	}

	&__wrapper {
		position: relative;
	}
	&__field {
		display: block;
		width: 355px;
		height: 45px;
		border: 1px solid $border-bottom-color;
		box-sizing: border-box;
		@include field-text;
		padding-left: 18px;
	}
	&__form {
		display: flex;
		flex-direction: column;
		gap: 20px;
		margin-bottom: 35px;
	}

	&__input {
		padding-right: 18px;

		&::placeholder {
			@include field-text;
		}
	}

	&-button {
		font-family: 'Lato-700';
		font-size: 11px;
		line-height: 1.2;
		text-transform: uppercase;
		color: #4a4a4a;
		padding-top: 12px;
		padding-bottom: 12px;
		background-color: $white;
		border: 1px solid $border-bottom-color;
	}
}
.quote-button {
	padding-left: 15px;
	padding-right: 15px;
}

.select {
	&__country {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
	}

	&__img {
		position: absolute;
		right: 19px;
		top: 21px;
	}
}

.coupon__text {
	font-family: 'Lato-300';
	font-size: 14px;
	line-height: 1.2;
	color: #000000;
	margin-top: 6px;
	margin-bottom: 24px;
}
