@import '../../../../vars.scss';
@import '../../../../fonts.scss';
.man-products {
	&-content {
		display: flex;
		gap: 4%;
		padding-top: 59px;
		padding-bottom: 110px;
	}
	&-sorted {
		width: 21%;
	}
	&-box {
		width: 75%;
	}

	&-sorted__details {
		position: relative;
		margin-bottom: 18px;
	}
	&-sorted__details-list {
		list-style: none;
		padding-top: 22px;
		padding-left: 12px;
	}

	&-sorted__details-link {
		font-size: 14px;
		line-height: 33px;
		color: $gray-text;
		display: block;

		&:hover {
			color: $accent-color;
		}
	}

	&-sorted__summary {
		list-style: none;
		margin-right: 137px;
		font-family: 'Lato-700';
		font-size: 14px;
		line-height: 20px;
		text-transform: uppercase;
		color: $gray-text;
		padding: 12px 0 14px 15px;
		border-left: 5px solid $accent-color;
		border-bottom: 1px solid #ebebeb;
		width: 100%;
	}

	&-sorted__summary::after {
		content: '';
		display: inline-block;
		border: 5px solid transparent;
		border-top: 5px solid $gray-text;
		position: absolute;
		right: 0;
		top: 20px;
	}
}

.man-products-sorted__details[open] .man-products-sorted__summary {
	color: $accent-color;
}

.man-products-sorted__details[open] .man-products-sorted__summary::after {
	content: '';
	display: inline-block;
	border: 5px solid transparent;
	border-bottom: 5px solid $accent-color;
	top: 14px;
}

.man-products__box {
	padding-top: 12px;
	width: 100%;
}

.filtres {
	display: flex;
	gap: 5%;
	justify-content: space-between;
	margin-bottom: 43px;
}

.filter {
	width: 30%;
	&__title {
		font-family: 'Lato-700';
		font-size: 14px;
		line-height: 20px;
		text-transform: uppercase;
		color: $gray-text;
		margin-bottom: 25px;
	}
}

.filter-style {
	&__list {
		list-style-type: none;
		display: flex;
		flex-wrap: wrap;
		gap: 8px;
		width: 210px;
	}

	&__item {
		font-size: 14px;
		line-height: 26px;
		color: $gray-text;

		&:not(:last-child, :nth-child(3))::after {
			content: '|';
			padding-left: 8px;
			color: #dfdfdf;
		}
	}
}

.filter-size {
	width: 220px;

	&__checkboxes {
		display: flex;
		flex-wrap: wrap;
		gap: 23px;
	}
}

.checkbox__span {
	margin-left: 5px;
	font-size: 14px;
	line-height: 20px;
	text-transform: uppercase;
	color: $gray-text;
}

.filter-price__range {
	width: 262px;
}

.sorting {
	width: 100%;
	height: 50px;
	background-color: #f3f3f3;
	margin-bottom: 48px;
	display: flex;
	align-items: center;
	gap: 10px;

	&__box {
		display: flex;
		background-color: $white;
		border: 1px solid #ebebeb;
		margin-left: 9px;
		padding-right: 6px;
		& img {
			width: 9px;
			height: 6px;
			align-self: center;
		}
	}

	&__text {
		font-size: 14px;
		line-height: 26px;
		color: $gray-text;
		border: none;
	}

	&__select {
		padding: 0 21px 0 9px;
		appearance: none;
	}
}

.sort-by__text {
	border-right: 1px solid #ebebeb;
	padding: 0 8px 0 13px;
}

.offers-content-info__inner.flex-row {
	flex-direction: row;
	justify-content: space-between;
}

.offers-content-info__inner-item.flex-column {
	flex-direction: column;
}

.inner-item__icon.align-self {
	align-self: center;
}

.inner-item__info.middle-text {
	text-align: center;
}

.offers-content-info.paddings {
	padding: 89px 0 114px;
}

.inner-item__text.width {
	max-width: 310px;
}
