@import '../../vars.scss';
@import '../../fonts.scss';

.offers {
	padding-bottom: 97px;
}

.offers-content {
	display: flex;
	height: 529px;

	&-pic {
		position: relative;
	}
}

.offers-content-pic {
	&__img {
		width: 100%;
		filter: brightness(0.8);
	}

	&__info {
		position: absolute;
		top: 134px;
		left: 39px;
	}

	&__text {
		font-family: 'Lato-700';
		font-size: 53.7px;
		line-height: 1.2;
		letter-spacing: 0.025em;
		color: $white;
		margin-right: 7px;
	}
	&__text--colored {
		color: $accent-color;
	}

	&__text-bottom {
		font-size: 32.2px;
	}
}

.offers-content-info {
	background-color: $dark-color;
	padding: 48px 43px 66px 32px;

	&__inner {
		display: flex;
		flex-direction: column;
		gap: 54px;
	}

	&__inner-item {
		display: flex;
		gap: 31px;
	}
}

.inner-item {
	&__info {
		padding-top: 7px;
	}

	&__title {
		font-family: 'Lato-700';
		font-size: 20px;
		line-height: 1.2;
		letter-spacing: 0.025em;
		color: $light-color-text;
		margin-bottom: 14px;
	}

	&__text {
		font-family: 'Lato-300';
		font-size: 14px;
		line-height: 22px;
		letter-spacing: 0.025em;
		color: $light-color-text;
		max-width: 219px;
	}

	&__icon {
		align-self: start;
	}
}
