@import '../../fonts.scss';
@import '../../vars.scss';

.order-info {
	padding-top: 60px;
	padding-bottom: 83px;
	&__list {
		list-style-type: none;
	}

	&__item {
		border-bottom: 1px solid #e8e8e8;
	}

	&__summary {
		padding-top: 20px;
		padding-bottom: 20px;
		list-style-type: none;
		font-family: 'Lato-700';
		font-size: 16px;
		line-height: 1.2;
		font-weight: 700;
		text-transform: uppercase;
		color: $text;
	}

	&__text-big {
		font-size: 13px;
		line-height: 1.2;
		text-transform: uppercase;
		color: $text;
		margin-bottom: 15px;
	}

	&__text-small {
		font-size: 13px;
		line-height: 20px;
		color: #b3b2b2;
	}

	&__text-middle {
		font-size: 12px;
		line-height: 1.2;
		text-transform: uppercase;
		color: $text;
	}

	&__additional {
		margin-top: 33px;
		margin-bottom: 49px;
		display: flex;
		flex-direction: column;
		gap: 5px;
	}

	&__button {
		font-family: 'Lato-700';
		font-size: 14px;
		line-height: 1.2;
		text-transform: uppercase;
		color: #4a4a4a;
		border: 1px solid $border-bottom-color;
		background-color: $white;
		// padding: 19px 53px;
		text-align: center;
		width: 180px;
		height: 50px;
	}
}

.additional__link {
	display: block;
}

.details__box {
	display: flex;
	padding-top: 19px;
	padding-left: 25px;
	gap: 291px;
	margin-bottom: 79px;
}

.radio-box {
	margin-top: 31px;
	margin-bottom: 33px;
	display: flex;
	flex-direction: column;
	gap: 16px;
	& label {
		margin-left: 14px;
	}
}

.additional__wrapper {
	display: flex;
	align-items: center;
	gap: 4px;
}

.red-astrix {
	font-size: 17px;
	line-height: 20px;
	color: #ff0d0d;
}

.login-form {
	margin-top: 27px;

	&__label {
		margin-bottom: 16px;
		display: block;
		margin-bottom: 0;
	}

	&__input {
		border: 1px solid $border-bottom-color;
		width: 390px;
		height: 45px;
		margin-bottom: 22px;
	}
}

.warning-text {
	font-size: 13px;
	line-height: 20px;
	color: #ff0d0d;
	margin-bottom: 32px;
}

.forgot {
	margin-left: 32px;
	font-size: 14px;
	line-height: 20px;
	color: $text;
}
