$accent-color: #f16d7f;
$dark-color: #222224;
$text: #222222;
$footer-text: #898989;
$white: #ffffff;
$light-color-text: #fbfbfb;
$bg-pink: #f8f3f4;
$border-bottom-color: #eaeaea;
$border-index-color: #e8e8e8;
$border-lighter-color: #e6e6e6;
$gray-text: #6f6e6e;
