@import '../../../../vars.scss';
@import '../../../../fonts.scss';

.categories {
	padding-top: 98px;

	&__item {
		position: relative;
		display: block;
		transition: transform 0.9s;
	}

	&__item:hover {
		transform: scale(1.09);
		z-index: 100;
	}

	&__item-img {
		width: 100%;
	}

	&__grid {
		display: grid;
		grid-template-columns: repeat(2, 560px);
		grid-template-rows: repeat(3, 261px);
		gap: 21px;
	}

	&__item1 {
		grid-row: span 2;
	}
}

.category__name {
	position: absolute;
	top: 26px;
	background-color: $white;
	padding: 16px 20px;

	&-top {
		font-family: 'Lato-900';
		font-size: 18px;
		line-height: 1.2;
		text-transform: uppercase;
		letter-spacing: 0.025em;
		color: $text;
	}

	&-bottom {
		font-size: 30px;
		color: $accent-color;
	}
}
